<div class="card mt-3">
  <div class="card-body">
    <div class="row">
      <div class="col-7">
        <h4>{{ dane.name }}</h4>  
      </div>
      <div class="col-1">
        <div class="text-wrap text-bg-info badge">
          {{ getCategoryName(dane.category) }}
        </div>
      </div>
      <div class="col-1">
        <div class="text-wrap text-bg-primary badge">
          {{ workTime }}
        </div>
      </div>
      <div class="col-3">
        <span
          [ngClass]="{
            btn: true,
            'btn-primary': !status(),
            'btn-danger': status(),
            'ms-1': true
          }"
          (click)="statusChange()"
        >
          <i
            [ngClass]="{
              bi: true,
              'bi-play-circle': !status(),
              'bi-pause-circle': status()
            }"
          ></i>
        </span>
        <span class="btn btn-success ms-1" (click)="edit(dane.id)"
          ><i class="bi bi-pen"></i
        ></span>
        <span
          class="btn btn-danger ms-1"
          (click)="removeSelect(dane.id)"
          data-bs-toggle="modal"
          data-bs-target="#removeModal"
          ><i class="bi bi-trash"></i
        ></span>
      </div>
    </div>
  </div>
</div>
