<div class="card mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col-10">
            {{dane.name}}
        </div>
        <div class="col-2">
            <span class="btn btn-primary ms-1"><i class="bi bi-play-circle"></i></span> 
            <span class="btn btn-success ms-1" (click)="edit(dane.id)"><i class="bi bi-pen"></i></span> 
            <span class="btn btn-danger ms-1" (click)="remove(dane.id)" ><i class="bi bi-trash"></i></span> 
        </div>
      </div>
    </div>
  </div>